#contacttype
    padding-top: 40px
    p
        text-align: center
    h3
        font-family: face
        text-align: center
        span
            color: rgba(255, 160, 18, 0.897)

.lighncontact
    display: flex
    justify-content: center
    gap: 80px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    text-align: center
    padding-top: 50px
    padding-right: 50px
    padding-left: 50px
.grand
    width: 90vw
    padding-top: 40px
    padding-bottom: 40px
    padding-left: 15vw
    
    
    .copy
        display: flex
        align-items: center
        gap: 10px
        i
            border-radius: 50%
            transition: 0.3s
            padding: 15px
            color: rgba(255, 160, 18, 0.634)
            background-color: #fff6d3
            &:hover
                color: white
                background-color: rgba(255, 160, 18, 0.897)


.full2
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    text-align: center
    padding-top: 50px
    padding-bottom: 30px
    padding-right: 50px
    padding-left: 50px
    .fullfi
        display: flex
        flex-direction: column
        gap: 2vw
        textarea
            width: 62vw
            padding: 1vh 1vw
    


.formf
    display: flex
    justify-content: center
    
    gap: 2vh
    input
        width: 30vw
        padding: 1vh 1vw

.inputinput
    width: 62vw
    padding: 1vh 1vw

        


.buttbut
    text-align: center
    button
        height: 40px
        width: 150px
        color: white
        border-radius: 20px
        background-color: rgba(255, 160, 18, 0.897)
        border: none
        &:hover
            background-color: rgb(255, 160, 18)

footer
    background-color: rgb(53, 50, 45)
    padding-top: 30px
    display: flex
    flex-direction: column
    gap: 30px
    p
        color: white



    .f3
        span
            color: rgb(255, 160, 18)
    h1
        text-align: center
        color: rgb(255, 160, 18)
    p
        text-align: center

    .d2
        display: flex
        justify-content: center
        gap: 5px
        .d1
            color: white
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            width: 50px
            height: 50px
            text-align: center
            background-color: gray
            transition: 0.3s
            &:hover
                background-color: rgb(255, 160, 18)